*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #2f363e;
    margin: 0;
    overflow: hidden; 
   
}

.clock
{
    position: relative;
    width: 450px;
    height: 450px;
    background:  #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    top: -50px;

}
.clock::before
{
    content: '';
    position:absolute;
    width: 8px;
    height: 8px;
    background:  #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100000;
}
.clock span
{
    position:absolute;
    inset: 20px;

    text-align: center;
    color: #ffff00; /* Золотистый цвет */

    
    transform: rotate(calc(30deg*var(--i)));
}
.clock span b
{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));


}
.circle
{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:flex-start ;
    z-index: 10;

}
.circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}
.circle:nth-child(1) i
{
    width: 2px;
}
.circle:nth-child(2) i
{
    width: 6px;
}
.circle2
{

    width: 240px;
    height: 240px;
    z-index: 9;
   
}
.circle3
{
  
    width: 180px;
    height: 180px;
    z-index: 8;
}
.circle::before {
    content: '';
    position: absolute;
    top: -8.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 17px 10px; /* Изменяем размеры для создания треугольника */
    border-color: transparent transparent var(--clr) transparent;
    filter: drop-shadow(0 0 5px var(--clr)); /* Создаем свечение */
}


  .snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .snowflake {
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    border-radius: 50%;
    max-height: none; 
    overflow: visible; 
  }
  .big-text {
    font-family: 'COLONNA MT', sans-serif; /* Замените 'Arial' на другой шрифт по вашему выбору */

    font-size: 5em; 
  }